<% provide(:title, "All Mountains") %>
<div class="container">
	<% @regions.each do |region| %>
		<h2><%= link_to region.name, region %></h2>
		<ul>
			<% region.mountains.each do |mountain| %>
				<li><%= link_to mountain.name, mountain %></li>
			<% end %> 
		</ul>
	<% end %>
</div>