<% provide(:title, 'Contact') %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="form-well">
			<h2>Contact Us</h2>
			<p class="muted">We always love to hear from our users, so let us know what is on your mind. Thanks in advance for reaching out to us! </p>
			<div class="well well-large">
				<%= render 'contact_form' %>
			</div>
		</div>
	</div>
</div>