<% if user_signed_in? %> 
	<h3>Home</h3>
		<div class="row">
			<%= render 'shared/mountains_list' %>
		</div>
<% else %> 

<div class="center hero-unit">
  <h1>Welcome to Where to Ski</h1>

  <h2>
    This is a temporary homepage
  </h2>

<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>

</div>

<% end %>