<div class="row-fluid">
	<div class="page-header text-center"><h1>Search Results</h1>
		<p>There are <%= pluralize(@mountains.length, "mountain") %> and <%= pluralize(@regions.length, "region") %> in your search results.</p>
	</div>
	<div class="centered-pills">
		<ul class="nav nav-pills search-pills" id="searchResults">	
		  <% if search_results_show_mountain? then %><li class="active"><% else %><li><% end %>
		  	<a href="#mountain_results" data-toggle="tab">Mountain Results</a>
		  </li>
			<% unless search_results_show_mountain? then %><li class="active"><% else %><li><% end %>
				<a href="#region_results" data-toggle="tab">Region Results</a>
			</li>
		</ul>
	</div>
</div>
<div class="tab-content">
  <% if search_results_show_mountain? then %><div class="tab-pane active" id="mountain_results"><% else %><div class="tab-pane" id="mountain_results"><% end %>
  	<%= render 'mountain_search_results' %>
  </div>
  <% unless search_results_show_mountain? then %><div class="tab-pane active" id="region_results"><% else %><div class="tab-pane" id="region_results"><% end %>
  	<%= render 'region_search_results' %>
  </div>
</div>