<% @m_count = 0 %>
<% @r_count = 0 %>
<% @current_region = nil %>

<% @regions.each do |region| %>
	<div class="row">
		<h2><%= region.name %> </h2>
	</div>
	<ul class="thumbnails">
		<% @mountains.select{ |m| m.region == region }.each do |mountain| %>
			<%= render 'shared/show_mountain', mountain: mountain %>
			<% @m_count += 1 %>
		<% end %>
	</ul>
	<% @r_count += 1 %>
<% end %>
<p>There are <%= @m_count %> Mountain search results.</p>
<p>There are <%= @r_count %> Region search results.</p>