<ul class="thumbnails">
	<% @rides.each do |rides| %>
		<div>
			<li class="span2">
				<div class="text-center">
					<%= link_to user_image(rides, "img-circle img-polaroid", 100), rides %></br>
					<%= link_to rides.name, rides %>
				</div>
			</li>
		</div>
	<% end %>
	<div class="pagination pagination-centered"><%= will_paginate @rides %></div>
</ul>