<ul class="thumbnails">
	<% @shoots.each do |shoots| %>
		<div>
			<li class="span2">
				<div class="text-center">
					<%= link_to user_image(shoots, "img-circle img-polaroid", 100), shoots %></br>
					<%= link_to shoots.name, shoots %>
				</div>
			</li>
		</div>
	<% end %>
	<div class="pagination pagination-centered"><%= will_paginate @shoots %></div>
</ul>