<h3>Photos <%= @user.name %> thought were pretty awesome</h3>
<ul class="thumbnails">
	<% @gnar_photos.each do |photo| %>
		<%= render 'shared/pic', :photo => photo %>
	<% end %>
	<div class="pagination pagination-centered"><%= will_paginate @gnar_photos %></div>
</ul>