<ul class="thumbnails">
	<% @photos.each do |photo| %>
		<%= render 'shared/pic', :photo => photo %>
	<% end %>
	<div class="pagination pagination-centered"><%= will_paginate @photos %></div>
</ul>