<ul class="thumbnails">
	<% @photos.each do |photo| %>
		<div>
			<li class="span3">
				<div class="thumbnail photo-with-text">
					<%= link_to image_tag(photo.image_url(:thumb)), [photo.mountain, photo]%>
					<div class="photo-text"><%= link_to photo.name, [photo.mountain, photo]%></div>
				</div>
			</li>
		</div>
	<% end %>
	<%= will_paginate @photos %>
</ul>