<ul class="thumbnails">
	<% @photos.each do |photo| %>
		<div>
			<li class="span3">
				<div class="thumbnail text-center">
					<%= link_to image_tag(photo.image_url(:thumb)), [photo.mountain, photo]%>
					<%= link_to photo.name, [photo.mountain, photo]%>
				</div>
			</li>
		</div>
	<% end %>
	<%= will_paginate @photos %>
</ul>