<% @photo.photo_relationships.each do |relationship| %>
	<li><%= relationship.role_name(relationship.role_id) %>: <%= link_to relationship.user.name, user_path(relationship.user_id) %></li>
<% end %>