<div class="gnar_form">	
	<% if current_user.present? then %>
		<% if @gnars.find_by_user_id(current_user.id) %>
			<%= render :partial => 'photos/ungnar' %> 
		<% else %>
			<%= render :partial => 'photos/gnar' %>
		<% end %>
	<% else %>
		<%= render :partial => 'photos/gnar' %>
	<% end %>
</div>
<!-- <a href="#" class="gnar_describe" title="Give props to this photo and vote it up">What is Gnar?</a> -->