<div class="container-fluid">
	<div class="row-fluid">
		<div class="form-well">
			<h2>Add your photo <small> for <%= @mountain.name %></small></h2>
			<div class="well well-large form-well">
				<div class="centered-pills">
					<ul class="nav nav-pills grey" id="newPhotoTab">
					  <li class="active"><a href="#upload" data-toggle="tab">Upload from a file</a></li>
					  <li><a href="#weblink" data-toggle="tab">Create from a weblink</a></li>
					</ul>
				</div>
				<div class="divider"></div>
				<div class="tab-content">
				  <div class="tab-pane active" id="upload"><%= render 'form_upload' %></div>
				  <div class="tab-pane" id="weblink"><%= render 'form_weblink' %></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$("#photo_tag_list").select2({tags:[], width: 'resolve' });
	$("#photo_tag_list_weblink").select2({tags:[], width: 'resolve' });
});
</script>