@import "cerulean.css";

/* HEADER UPDATES */
body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

/* LANDING PAGE UPDATES */
body.landing_page {
	margin-left: 0;
	margin-right: 0;
	display: block;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 940px;
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
	background-attachment:fixed;
	background-color: transparent;
}
.well.see-through {
	background: rgba(254,254,254,.65);	
;}
.top-spacing-large {
	padding-top: 100px;
}
.top-spacing-medium {
	padding-top: 50px;
}

/* PHOTO PAGE UPDATES */
.main-photo {
	padding-bottom: 10px;
}
.vcenter-button{
  padding-top: 20px;
}
.shared-links{
	padding-bottom: 20px;
}
.gnar-form{
	padding-bottom: 10px;
}
.photo-description{
	p {
		display: block;
		-webkit-margin-before: 0px;
		-webkit-margin-after: 0.5em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
	}	
}
 
/* PHOTO UPDATES */
.photo-with-text {
	position: relative;
  margin: 0 auto;
  display: table;
}
.photo-text {
	position: absolute;
	bottom: 4px;
	right: 4px;
	background: #000;
	background: rgba(0,0,0,0.65);
	width: 180px;
	padding-left: 10px;
	padding-right: 10px;
	height: 40px;
}
.thumbnail {
	margin-bottom: 20px;
}