<h2> <%= @region.name %> </h2>
<ul class="thumbnails">
	<% @mountains.each do |mountain| %>
		<%= render 'shared/show_mountain', mountain: mountain %>
	<% end %> 
	<%= will_paginate @mountains %>
</ul>