<div id="termsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Terms and Conditions</h3>
  </div>
  <div class="modal-body">
    <p>If posting a photo to the site, you agree you are the owner of the photograph or have verified the photograph has permission to be posted across the web with proper attribution.</p>
    <p>Wheretoski.co may sell portions of your information to companies looking to market to you. Put in English, if you say you are interested in attending a Mountain you may receive a special offer to visit that mountain. We keep it pretty simple.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
</div>