<footer>
	<div id="footer_wrapper">
		<div class="footer">
			<div class="divider"></div>
			<div class="container">
				<div class="row-fluid">
				  <div class="span3">
					  <small>
					    A site by <a href="http://www.mnwebdev.com" target="_blank">Mitch Nick</a>.
					  </small>
					</div>
					<div class="span9">
				    <ul class="nav nav-pills pull-right">
				      <li><%= link_to "All Mountains", all_mountains_path %></li>
				      <li><%= link_to "About",   about_path %></li>
				      <li><%= link_to "Contact", contact_path %></li>
				    </ul>
				  </div>
				</div>
			</div>
		</div>
	</div>
</footer>
<%= debug(params) if Rails.env.development? %> 